.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8px;
  }
  
  .nav-item {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item i {
    font-size: 22px;
  }
  
  .nav-item:hover {
    color: white;
  }
  